/* Estilos adicionales para la versión móvil */
@media (max-width: 768px) {
    .sprite_trades_habbo_origins {
        width: 300px;
        height: auto;
        margin: 0 auto;
        float: none;
        padding-right: 0px;
    }

    .header-page{
        background: none;
    }
    .contador_div {
        max-width: 200px;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid black;
    }
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
    .navbar_item {
        margin: 5px 0;
    }

    .row_contador{
        padding-right: 0px;
        padding-top: 0px;
    }

    .div_filtros{
        padding-top: 15px
    }

    .row_lenguage{
        padding-top: 0px;
        margin-bottom: 15px;
    }
    .select_lenguage{
        width: 100% !important;
        height: auto;
        background-color: transparent;
        border-color: white;
        border: 2px solid;
    }

    .select_lenguage:focus{
        width: 100% !important;
        height: auto;
        background-color: transparent;
        border-color: white;
    }

    .select_lenguage option {
        background-color: #555; /* Color de fondo de las opciones */
        color: #fff; /* Color del texto de las opciones */
    }

    .select_order{
        background-color: transparent;
        border-color: white;
        min-height: 45px;
        border: 2px solid;
    }

    .select_order:focus{
        background-color: transparent;
        border-color: white;
    }

    .select_order option{
        background-color: #555; /* Color de fondo de las opciones */
        color: #fff; /* Color del texto de las opciones */
    }


    .div_select_lenguage{
        padding-left: 15px;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .nav-item {
        width: 100%;
    }
    .header-page{
        background-color: #FCCB04 !important;
        padding-top: 5px !important;
        padding-bottom: 0px !important;
        border: none;
        height: 60px;
    }

    .column-left, .column-right {
        background-color: #FCCB04; /* Color de fondo */
        padding: 0; /* Elimina el padding para ajustar el ancho */
        margin: 0; /* Elimina el margen para ajustar el ancho */
        min-height: 100vh; /* Asegura que las columnas ocupen toda la altura de la pantalla */
    }

    .colum-catalog {
        background: repeating-linear-gradient(0deg, #636363 0px, #636363 5px, /* Ancho de la primera raya */ #424242 5px, /* Inicio de la segunda raya */ #424242 15px /* Ancho de la segunda raya */);
        border-radius: 15px;
        padding-top: 20px;
        margin-top: 0px;
        overflow-y: auto; /* Permite el scroll vertical */
        height: calc(90vh - 60px); /* Ajusta la altura según el espacio disponible */
        font-family: 'DePixelKlein', sans-serif;
    }

    

    .body_calculadora{
        background: repeating-linear-gradient(0deg, #636363 0px, #636363 5px, /* Ancho de la primera raya */ #424242 5px, /* Inicio de la segunda raya */ #424242 15px /* Ancho de la segunda raya */);
        border-radius: 15px;
        padding-top: 20px;
        margin-top: 0px;
        overflow-y: auto; /* Permite el scroll vertical */
        height: calc(90vh - 60px); /* Ajusta la altura según el espacio disponible */
        font-family: 'DePixelKlein', sans-serif;
        padding-bottom: 20px;
    }

    .price_history_content{
        background-color: transparent;
        border-color: white;
        font-family: 'DePixelKlein', sans-serif;
        border: 2px solid;
    }

    .online_habbo_text_white{
        font-family: 'DePixelKlein', sans-serif;
    }

    body {
        background: #FCCB04;
        overflow: auto;
    }
    .column-footer {
        background-color: #FCCB04;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .buscar-furnis{
        background-color: transparent;
        border-color: white;
        border: 2px solid;
    }

    .buscar-furnis:focus{
        background-color: transparent;
        border-color: white;
    }

    .toggle-button{
        background-color: transparent;
        border-color: white;
        width: 100%;
        height: 100%;
        color: #fff; 
        border: 2px solid;
    }

    .colum_button_options{
        padding-left: 0px;
    }

    .card-img-top{
        height: 120px;
    }
    .iconos-hot-sale {
        width: 60px;
        height: 80px;
    }

    .div-no-arrow{
        padding-top: 0px;
    }

    .card{
        background-color: #555;
        border-image: none;
        border: 2px solid white;
        animation: none;
    }

    .card-body{
        background-color: #555;
    }

    .boton_collapse_otros_catalogos{
        background-color: #555;
    }

    .filtros_filas{
        display: none;
    }

    .item_calculador_tradeos{
        background-color: #555;
        font-family: 'DePixelKlein', sans-serif;
    }

    #item-a{
        background-color: transparent;
        color: white;
    }

    #item-a option{
        background-color: #555;
    }

    #item-b{
        background-color: transparent;
        color: white;
    }

    #item-b option{
        background-color: #555;
    }

    .text-price{
        color: white;
    }
    
    #price-history-table{
        background-color: #555;
    }

    .button_price_history_dinamic {
        background-color: #555;
        border: 2px solid black;
    }

    .h3_historial_precios {
        background-color: #555;
        border: 2px solid black;
        color: white;
    }

    .consola_history_price{
        color: white;
    }

    .mobile_description{
        color: white;
        background-color: #555;
    }

    .grafic_item{
        background-color: #555;
    }

    .opciones_consola_mobile{
        padding-left: 15px;
    }

    .menu-link{
        font-size: 10px;
    }

    .vote-button-opinion {
        border: 2px solid #000; /* Color del borde en negro */
        background-color: transparent; /* Fondo transparente si es necesario */
        color: #000; /* Color del texto */
        font-size: 16px; /* Tamaño de la fuente */
        cursor: pointer; /* Muestra un puntero al pasar el mouse */
    }
    
    .vote-button-opinion:hover {
        border-color: #333; /* Color del borde al pasar el mouse */
        background-color: #f0f0f0; /* Fondo al pasar el mouse */
        color: #333; /* Color del texto al pasar el mouse */
    }
    
    .vote-button-opinion:focus {
        outline: none; /* Elimina el contorno azul en algunos navegadores */
        border-color: #000; /* Asegura que el color del borde se mantenga negro */
        background-color: #f0f0f0; /* Fondo al enfocarse */
        color: #333; /* Color del texto al enfocarse */
    }

    .vote-button-belief{
        border: 2px solid #000; /* Color del borde en negro */
        background-color: transparent; /* Fondo transparente si es necesario */
        color: #000; /* Color del texto */
        font-size: 16px; /* Tamaño de la fuente */
        cursor: pointer; /* Muestra un puntero al pasar el mouse */
    }
    
    .vote-button-belief:hover {
        border-color: #333; /* Color del borde al pasar el mouse */
        background-color: #f0f0f0; /* Fondo al pasar el mouse */
        color: #333; /* Color del texto al pasar el mouse */
    }
    
    .vote-button-belief:focus {
        outline: none; /* Elimina el contorno azul en algunos navegadores */
        border-color: #000; /* Asegura que el color del borde se mantenga negro */
        background-color: #f0f0f0; /* Fondo al enfocarse */
        color: #333; /* Color del texto al enfocarse */
    }

    .menu-link{
        background-color: transparent; /* Fondo transparente si es necesario */
        color: #000; /* Color del texto */
        cursor: pointer; /* Muestra un puntero al pasar el mouse */
    }

    .menu-link:hover {
        color: #000; /* Color del texto */
    }
    
    .menu-link:focus {
        color: #000; /* Color del texto */
    }
}
